.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background: white !important;
    padding: 20px;
    border-radius: 12px !important;
    border: 2px;
    display: inline-block;
    /* min-height: 300px; */
    margin: 1rem;
    position: relative;
    /* min-width: 300px; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.36);
    justify-self: center;
}